.all-count {
  position: absolute;
  font-family: "Epilogue";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  color: rgba(255, 255, 255, 0.64);
  transform: translateY(-20%);
}

.design-count {
  position: absolute;
  font-family: "Epilogue";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  color: rgba(255, 255, 255, 0.64);
  transform: translateY(-20%);
}

.branding-count {
  position: absolute;
  font-family: "Epilogue";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  color: rgba(255, 255, 255, 0.64);
  transform: translateY(-20%);
}

.illustration-count {
  position: absolute;
  font-family: "Epilogue";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  color: rgba(255, 255, 255, 0.64);
  transform: translateY(-20%);
}

.motion-count {
    position: absolute;
    font-family: "Epilogue";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    text-align: center;
    color: rgba(255, 255, 255, 0.64);
    transform: translateY(-20%);
  }
  